body{
	background-color: #232323;
	margin: 0;
	font-family: DejaVu Sans Mono, monospace;
}
.square{
	width: 30%;
	padding-bottom: 30%;
	background-color: purple;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
	transition: background .5s;
	-webkit-transition:background .5s;
	-moz-transition:background .5s;
}
#container{
	max-width: 600px;
	margin: 30px auto;
}
h1
{
	color: white;
	background-color: steelblue;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.1;
	padding: 20px 0;
}

#stripe{
    height:60px;
    text-align: center;
    background-color: white;
    color: black;
}
.selected{
	background-color: blue;
	color: white;
	background-color: steelblue;
}
#colorDisplay{
	font-size: 200%;

}
#message{
	display: inline-block;
	width: 20%;
	font-family: DejaVu Sans Mono, monospace;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 2px;
	font-family: DejaVu Sans Mono, monospace;
	font-size: inherit;
	transition: all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	outline: none;
}
button:hover{
	color: white;
	background-color: steelblue;
}